/* First up are the animations for the image_rotator carousel */
/* Updated  1/12 because I had a way better idea for the image rotator animations */
/* active_in */
@-webkit-keyframes active_in {
	/*0% { -webkit-transform: translateX(600px); opacity: 0; }
	100% { -webkit-transform: translateX(0px); opacity: 1; -webkit-animation-timing-function: ease-in; }*/
	0% { -webkit-transform: perspective(500px) rotateY(-90deg); opacity: 1; -webkit-transform-origin: right; }
	100% { -webkit-transform: perspective(500px) rotateY(0deg); opacity: 1; -webkit-transform-origin: right; -webkit-animation-timing function: ease-in; }
}

@-moz-keyframes active_in {
	/*0% { -moz-transform: translateX(600px); opacity: 0; }
	100% { -moz-transform: translateX(0px); opacity: 1; -moz-animation-timing-function: ease-in; }*/
	0% { -moz-transform: perspective(500px) rotateY(-90deg); opacity: 1; -moz-transform-origin: right; }
	100% { -moz-transform: perspective(500px) rotateY(0deg); opacity: 1; -moz-transform-origin: right; -moz-animation-timing function: ease-in; }
}

@-o-keyframes active_in {
	/*0% { -o-transform: translateX(600px); opacity: 0; }
	100% { -o-transform: translateX(0px); opacity: 1; -o-animation-timing-function: ease-in; }*/
	0% { -o-transform: perspective(500px) rotateY(-90deg); opacity: 1; -o-transform-origin: right; }
	100% { -o-transform: perspective(500px) rotateY(0deg); opacity: 1; -o-transform-origin: right; -o-animation-timing function: ease-in; }
}

@keyframes active_in {
	/*0% { transform: translateX(600px); opacity: 0; }
	100% { transform: translateX(0px); opacity: 1; animation-timing-function: ease-in; }*/
	0% { transform: perspective(500px) rotateY(-90deg); opacity: 1; transform-origin: right; }
	100% { transform: perspective(500px) rotateY(0deg); opacity: 1; transform-origin: right; animation-timing function: ease-in; }
}

.active_in {
	-webkit-animation-name: active_in;
	   -moz-animation-name: active_in;
	     -o-animation-name: active_in;
	        animation-name: active_in;
    -webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

/* active_out */
@-webkit-keyframes active_out {
	/*0% { -webkit-transform: translateX(0px); opacity: 1; }
	100% { -webkit-transform: translateX(-600px); opacity: 0; -webkit-animation-timing-function: ease-out; }*/
	0% { -webkit-transform: perspective(500px) rotateY(0deg); opacity: 1; -webkit-transform-origin: left; }
	100% { -webkit-transform: perspective(500px) rotateY(90deg); opacity: 1; -webkit-transform-origin: left; -webkit-animation-timing function: ease-out; }
}

@-moz-keyframes active_out {
	/*0% { -moz-transform: translateX(0px); opacity: 1; }
	100% { -moz-transform: translateX(-600px); opacity: 0; -moz-animation-timing-function: ease-out; }*/
	0% { -moz-transform: perspective(500px) rotateY(0deg); opacity: 1; -moz-transform-origin: left; }
	100% { -moz-transform: perspective(500px) rotateY(90deg); opacity: 1; -moz-transform-origin: left; -moz-animation-timing function: ease-out; }
}

@-o-keyframes active_out {
	/*0% { -o-transform: translateX(0px); opacity: 1; }
	100% { -o-transform: translateX(-600px); opacity: 0; -o-animation-timing-function: ease-out; }*/
	0% { -o-transform: perspective(500px) rotateY(0deg); opacity: 1; -o-transform-origin: left; }
	100% { -o-transform: perspective(500px) rotateY(90deg); opacity: 1; -o-transform-origin: left; -o-animation-timing function: ease-out; }
}

@keyframes active_out {
	/*0% { transform: translateX(0px); opacity: 1; }
	100% { transform: translateX(-600px); opacity: 0; animation-timing-function: ease-out; }*/
	0% { transform: perspective(500px) rotateY(0deg); opacity: 1; transform-origin: left; }
	100% { transform: perspective(500px) rotateY(90deg); opacity: 1; transform-origin: left; animation-timing function: ease-out; }
}

.active_out {
	-webkit-animation-name: active_out;
	   -moz-animation-name: active_out;
	     -o-animation-name: active_out;
	        animation-name: active_out;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

/* Paragraph fade for tabbed_content.html */
@-webkit-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; -webkit-animation-timing-function: ease-in; }
}

@-moz-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; -moz-animation-timing-function: ease-in; }
}

@-o-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; -o-animation-timing-function: ease-in; }
}

@keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; animation-timing-function: ease-in; }
}

.fade_in {
	-webkit-animation-duration: .5s;
	   -moz-animation-duration: .5s;
	     -o-animation-duration: .5s;
	        animation-duration: .5s;
	-webkit-animation-name: fade_in;
	   -moz-animation-name: fade_in;
	     -o-animation-name: fade_in;
	        animation-name: fade_in;
}